.bg-grey {
    background: url('/assets/img/patterns/bg-grey.jpg');
}

.bg-green {
    background: url('/assets/img/patterns/bg-green.jpg');
}

.bg-blue {
    background: url('/assets/img/patterns/bg-blue.jpg');
}

.bg-orange {
    background: url('/assets/img/patterns/bg-orange.jpg');
}